.work__heading {
  margin: 0 auto;
  color: #000;
  text-align: center;
  font-family: Qanelas;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 0;
}