.section {
  display: grid;
  grid-template-areas:
  'heading image'
  'text image';
  grid-column: auto auto;
  grid-row: auto minmax(max-content);
  max-width: 80vw;
  height: max-content;
  column-gap: 20px;
  row-gap: 20px;
}