.section__images {
  grid-area: image;
  z-index: 2;
  width: 500px;
  height: 500px;
  opacity: .9;
  transition: ease-in-out 1s;
  border-radius: 40px;
  overflow: hidden;
}

.section__images:hover {
  opacity: .2;
}