.trade__heading {
  font-family: Qanelas;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: white;
  margin-top: 89px;   
  margin-left: 147px;;
  padding: 0;
  width: 619px;
}