.work__card-title {
  margin: 27px 56px 14px;
  padding: 0;
  font-family: Qanelas;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  width: 264px;
}