body {
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  font-family: 'Qanelas', Arial, sans-serif;
}
